.bigChartBox{
position: relative;
height: 100%;
width: 100%;
    h1{
        height: 5%;
        font-size: 1.5rem;
    }

    .chart{
        position: relative;
        height: 95%;
    }
}