.pieChartBox {
  position: relative;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 1.4rem;
    height: 5%;
    margin-bottom: 15px;
  }

  .chart {
    position: absolute;
    top: 0;
    height: 85%;
    width: 100%;
  }

  .options {
    height: 15%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
      .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .dot {
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }

        .span {
            font-size: 2rem;
        }
      }

      span {
        font-size: 0.6rem;
      }
    }
  }
}
